<div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to get started?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
          doloremque vel, praesentium voluptates corporis modi expedita
          eligendi ex, distinctio eos cupiditate, illo autem quasi corrupti?
          Ex delectus est nemo unde!
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--streched">Get Started</a>
    </div>
  </div>